body {
    background-color: blue;
    
}
main{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    background-color: beige;
    min-height: 150px;
    min-width: 200px ;
    border-radius: 10px;
    padding: 2px;
    -webkit-box-shadow: 0px 5px 14px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 14px 2px rgba(0,0,0,0.5);
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
p{
    margin-left: 5px;
}
h1 {
    text-align: center;
}
button {
    height: 35px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    height: 35px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}
input{
    height: 30px;
}
.icon-meteo{
   display: flex;
   align-items: center;
}

span{
    font-weight: 700;
}
